@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .masonry {
    column-gap: 1em;
    column-count: 1;
  }

  @media (min-width: 640px) {
    .masonry {
      column-count: 2;
    }
  }

  @media (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }

  .masonry > * {
    break-inside: avoid;
  }

  .masonry img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-inline: auto;
  }

  .break-inside {
    break-inside: avoid;
  }

}

.masonry2 {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* [2] Make columns adjust according to the available viewport */
  grid-auto-rows: 250px;
}

@layer base {
  html {
    font-family: 'Cormorant', serif;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 50px;
  right: 25px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2000;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

/* .menu__box {
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: -10px;
  right: -100%;
  align-items: center;
  width: 500px;
  margin: 0;
  padding: 40px 0;
  list-style: none;
  background-color: rgba(236,235,232, 0.9);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
@media (max-width: 500px) {
  .menu__box {
flex-direction: column;
width: 80%;
  }
} */

.menu__item {
  display: block;
  padding: 0 16px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu__item:hover {
  background-color: #CFD8DC;
}


/* nav styles */


.nav-links {
  z-index: 1000;
  position: fixed;
  top: -100%;
  left: 0;
  background-color: rgba(236, 235, 232, 1);
  margin: 0;
  width: 100%;

  @media screen and (max-width: 636px) {
    height: 45vh;
    border-bottom: 2px solid rgba(145, 96, 51, 1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 55px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #1b2911;
  color: white;
}


.nav-links.expanded {
  top: 0;
  opacity: 1;
  visibility: visible;
  background-color: rgba(236, 235, 232, 1);
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;

    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 10px 20px;
  }

  .hamburger {
    display: none;
  }
}

.trainer a {
  text-decoration: none;
  border-bottom: 2px solid rgba(145, 96, 51, 1);
  transition: ease-in-out 0.3s;
}

.trainer a:hover {
  background-color: rgba(145, 96, 51, 1);
  color: white;
  padding: 2px;
}

.hamburger {
  cursor: pointer;
  width: 45px;
  z-index: 1005;
  position: fixed;
  right: 25px;
  top: -5px;
}

.ham {
  height: 60px !important;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* padding-top: 38px; */
  background-color: rgba(145, 96, 51, 1);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 3.5;
  stroke-linecap: round;
}


.ham3 .top {
  stroke-dasharray: 40 130;
}

.ham3 .middle {
  stroke-dasharray: 40 140;
}

.ham3 .bottom {
  stroke-dasharray: 40 205;
}

.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}

.ham3.active .middle {
  stroke-dashoffset: -102px;
}

.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

.card {
  position: relative;
  height: 200px;
  width: 180px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  transition: z-index 0ms step-end;
}

.card-face {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  background: linear-gradient(-135deg,
      hsl(var(--card-hue), 100%, 80%),
      hsl(var(--card-hue), 90%, 45%));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15),
    inset 0 0 0 2px hsla(var(--card-hue), 100%, 80%, 0.75);
  transform: translateY(var(--card-offset)) rotate(var(--card-rotation));
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 0px;
}

.card-content {
  padding: 1rem;
  color: #fff;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.card.active .card-content {
  opacity: 1;
  position: absolute;
  top: -3%;
}

.card.active img {
  opacity: 0.7;
}

.card.active {
  z-index: 50;
  transition: z-index 0ms step-start;
}

.card.active .card-face {
  transform: translateY(-100px) rotate(0deg) scale(2);
  width: 300px;

  @media (max-width: 640px) {
    max-width: 50vw;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .card.active .card-content {
    background-color: rgba(0, 0, 0, 0.5);
  }

}

.card-face::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fff;
  opacity: 0;
}

.card.active .card-face::after {
  animation: flashFade 250ms ease-out forwards;
}

@keyframes flashFade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

@media (max-width: 768px) {
  .masonry img {
    margin: 10px auto;
    display: block;
  }
}